@model LocalFileWebService.Models.FormDataUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main bg-dark border">
    <h1>Login</h1>

    <form action="/Auth/Login" method="post">
        <label for="first">
            Email:
        </label>
        <input type="text" id="first" name="UserEmail" placeholder="Enter your Username" class="bg-dark" required autofocus>

        <label for="password">
            Password:
        </label>
        <input type="password" id="password" name="Password" placeholder="Enter your Password" class="bg-dark" required>

        <div class="wrap">
            <button type="submit">
                Submit
            </button>
        </div>
    </form>

    <p class="text-white">
        Not registered?
        <a href="#" style="text-decoration: none;">
            Create an account
        </a>
    </p>

    @Html.ValidationSummary(true, "", new {@class = "text-danger" } )
</div>

